body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}
a{
    color: goldenrod;
    text-decoration: none;
}
header img{
    width: 300px;
    height: 150px;
    
}
.center{
    text-align: center;

}
h1{
    color: goldenrod;
    text-align: center;
}

footer img{
    width: 20px;
    height: 20px;
}
footer{
    display: flex;
    justify-content: center;

}
footer a{
    margin: 20px;
    text-align: center;

}
footer p{
    margin-top: 5px;
}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: white;
}
li{
    list-style-type: none;
}
h2{
    color: goldenrod;
}
main{
    text-align: center;
}